:root {
  --buttonColor: gray;
  --backGroundColor: #191923;
}

@font-face {
  font-family: "DS-digital";
  src: url(DS-DIGI.TTF) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  height: 100dvh; 
  width: 100vw;
  background-color: var(--backGroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 700px;

  background-color: rgb(152, 152, 152);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: black 0 0 10px;
  padding: 20px;
  box-sizing: border-box;
}

#screen {
  width: 100%;
  height: 25%;
  background-color: #0b300d;
  background-image: radial-gradient(green, #0b300d);
  border-radius: 5px;
  box-shadow: 0 0 10px 3px #000 inset;
  color: white;
  font-family: "DS-digital";
  text-shadow: 0 0 5px #fff;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  padding: 10px 15px;
  box-sizing: border-box;
  overflow: hidden;
}

#resultDisplay {
  font-size: clamp(2.5rem, 12vw, 4rem); 
  width: 100%;
  min-height: 1.2em;
  text-align: right;
  position: relative;
}

#resultDisplay p {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

#operationDisplay {
  font-size: clamp(1rem, 5vw, 1.5rem);
  min-height: 1.5em;
  width: 100%;
  text-align: right;
  word-wrap: break-word;
}

#buttons {
  height: 65%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.twoColumns {
  grid-column: span 2;
}

button {
  background-color: var(--buttonColor);
  border-radius: 5px;
  border: none;
  font-size: clamp(1.5rem, 6vw, 2.2rem);
  color: white;
  box-shadow: inset -3px -3px 0 0 #00000066;
  box-sizing: border-box;
  transition: 0.2s;
  cursor: pointer;
}

.buttonClicked {
  background-color: oklch(from var(--buttonColor) calc(l * 0.85) c h);
  box-shadow: none;
  scale: 0.98;
  transform: translateY(1px);
}

.operationButton {
  --buttonColor: green;
}

.twoColumns {
  --buttonColor: orange;
}

#clear {
  --buttonColor: darkslateblue;
}